.footer {
    .footerAll {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 30px 0;

        .footerBox {
            h4 {
                color: #E05100;
                margin-bottom: 20px;
            }
            .number{
                margin-left: 30px;
            }
            a {
                img{
                    margin-right: 15px;
                }
                color: black;
                text-decoration: none;
                display: block;
                margin-bottom: 6px;
            }
        }
    }
}